doctype html
html(lang='en')
  head
    title Game List
    link(rel='stylesheet', href='/static/styles/main.css')
    link(rel="stylesheet", href='/static/styles/preloader.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap' rel='stylesheet')
  body 
    p.course_task “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”.
    div.block
      h1.title List of recommended games:
      div#preloader
       div#loader
      block games